sudo: false
language: scala
jdk: oraclejdk8
scala: 2.12.3
script:
  - sbt ++$TRAVIS_SCALA_VERSION compile
notifications:
  email: false
  webhooks:
    urls: https://webhooks.gitter.im/e/dd6f86f17f2dd9a99c68
    on_success: change
    on_failure: always
    on_start: never
# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
